* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}
.cover-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
    background-color: orange;
}
.cover-image h1 {
    font: clamp(80px, 8vw, 150px) "Cherry Bomb One", system-ui;
    line-height: 4vw;
}
.cover-image h2 {
    font: clamp(30px, 3vw, 50px) "Bungee"
}
.cover-image h2:nth-of-type(2) {
    font: clamp(20px, 1.5vw, 60px) "Fredoka";
}
.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 3%;
    gap: 5%;
}
.context {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: clamp(30px, 4%, 100px);
}
.context h1 {
    font: clamp(30px, 1.8vw, 100px) "Bungee";
}
.right-context {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
    gap: clamp(20px, 2vw, 200px);
    padding: 0  3% 3% 3%;
}
.right-context h2 {
    width: 90%;
}
.description h2 {
    width: 100%;
    border-bottom: 0.2vw solid black;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    font: clamp(10px, 1.4vw, 80px) "Quicksand";
}
.outils h2, .comp h2, .lien h2 {
    width: 80%;
    border-bottom: 0.2vw solid black;
    padding-bottom: 0.5%;
    font: clamp(10px, 1.4vw, 80px) "Quicksand";
}
.description p, .outils p, .comp p, .lien p {
    font: 300 clamp(5px, 1.2vw, 60px) "Fredoka";
}
.description {
    width: 80%;
    min-height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outils, .comp {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 2% 0 2% 0;

}
.p-outils, .p-comp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 3%;
    text-align: center;
    margin-top: 2%;
}
.lien {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 2% 0 2% 0;
}
.lien button, #back-to-project {
    width: fit-content;
    height: fit-content;
    max-width: 150px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    margin-top: 1%;
    padding: 1%;
    font: clamp(10px, 1vw, 50px) "Quicksand";
}
#back-to-project {
    margin-top: 5%;
    cursor: pointer;
}
.part {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.part-img {
    width: clamp(40px, 35vw, 450px);
    height: clamp(40px, 35vw, 450px);
    border-radius: 10px;
    background-color: orange;
}
.part p {
    width: 40%;
    font: 300 clamp(8px, 1.4vw, 80px) "Fredoka";
}



/*   MEDIA QUERIES  */
@media screen and (max-width:400px) {
    .part {
        width: 80%;
        flex-direction: column;
        min-height: 40vh;
    }
    .part:nth-of-type(1) {
        flex-direction: column-reverse;
    }
    .part p {
        width: 80%;
    }
}