:root {
    --name-font:clamp(5rem, 2vw + 8rem, 15rem);
    --student-font:clamp(3rem, 0.8vw + 1rem, 10rem);
    --sommaire-font:clamp(1.2rem, 1.2vw + 0.8rem, 8rem);
    --section1-pfont: clamp(0.6rem, 0.5vw + 0.5rem, 5rem);
    --section1-little-titlefont: clamp(0.8rem, 0.7vw + 0.5rem, 5rem);
    --url-font: clamp(0.5rem, 0.5vw + 0.3rem, 1rem);
    --smaller-url-font: clamp(0.3rem, 0.3vw + 0.3rem, 1rem);
    --section2-pfont:clamp(1.2rem, 0.7vw + 0.7rem, 6rem);
    --section3-pfont: clamp(1rem, 0.8vw + 0.5rem, 3rem);
    --section3-urlfont: clamp(0.7rem, 0.3vw + 0.2rem, 1rem);
    --section-title-font:clamp(1rem, 2.5vw + 1.5rem, 5rem);
    color-scheme: only light;
}   

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    scroll-snap-align: start;
}
html {
    background-color: rgba(248, 234, 208, 0.614);
    background-image: url("imgs/page_bg.png");
    background-position: 0px 0px;
    background-size: 10vw;
    position: relative;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#sec1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sommaire {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.in-sommaire {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.in-sommaire a {
    font: 900 var(--sommaire-font) "Quicksand", serif;
    color: orange;
    text-shadow: rgb(134, 61, 2) 1px 1px;
    text-underline-offset: 0.2em;
}
.in-sommaire a:visited {
    color: orange;
    text-shadow: rgb(134, 61, 2) 1px 1px;
}
.center-page {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.name {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.name h1 {
    font-size: var(--name-font);
    font-family: "Cherry Bomb One", system-ui;
    color: orange;
    text-shadow: #985202 0.6rem 0.6rem;
    letter-spacing: 2%;
    line-height: var(--name-font);
}
.name h2 {
    font-size: var(--student-font);
    font-family: "Bungee", 'sans-serif';
    color: #FFC98B;
    text-shadow: #DF8115 0.2rem 0.2rem;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1.5%;
    padding-right: 10%;
    align-items: center;
}
#email  {
    background-image: url("imgs/email.svg");
    background-position: 0 0;
    background-size: cover;
}
#linkedin  {
    background-image: url("imgs/linkedin.svg");
    background-position: 0 0;
    background-size: cover;
}

#email, #linkedin{
    width: 48px;
    height: 48px;
}




/*      SECTION 2      */






#sec2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
#sec2 .center-page {
    height: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.header {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font: 700 var(--section-title-font) "Cherry Bomb One", system-ui;
    color: orange;
    text-shadow: rgb(134, 61, 2) 0.2rem 0.2rem;
}

.slide {
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(253, 248, 238, 0.924);
    border-left: 0.15em solid rgb(140, 62, 2);
    border-top: 0.15em solid rgb(129, 56, 0);
    border-right: 0.2em solid rgb(93, 40, 0);
    border-bottom: 0.2em solid rgb(93, 40, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.261);
}
.slide:nth-of-type(1) {
    width: 50%;
}
.slide:nth-of-type(2) {
    width: 20%;
}


.titre-comp {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9ae6c;
    border-bottom: 2px solid rgb(129, 56, 0);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.circles {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 2px solid rgb(129, 56, 0);
    background-color: white;
}
.circle:nth-of-type(1) {
    background-color: rgb(252, 97, 97);
}
.circle:nth-of-type(2) {
    background-color: rgb(252, 154, 97);
}
.circle:nth-of-type(3) {
    background-color: rgb(124, 247, 124);
}
.bar {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(129, 56, 0);
    border-radius: 0.3em;
    background-color: white;
    padding-left: 1.5%;
}
.bar h2 {
    font: 600 var(--url-font) "Quicksand", serif; 
    color: rgb(129, 56, 0);
}
.refresh {
    width: 10%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(129, 56, 0);
    border-radius: 0.3em;
    background-color: white;
}
.refresh img {
    width: 100%;
    height: 100%;
}


.in-slide {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    align-items: center;
}

.in-slide p {
    font: 700 var(--section1-pfont) "Quicksand", serif;
    color: rgb(255, 132, 0);
    line-height: 1.2em;
    width: 80%;
}
.slide:nth-of-type(2) .in-slide p {
    width: 80%;
    border: 2px solid rgb(255, 132, 0);
    padding: 3%;
    border-radius: 10px;
}
.slide:nth-of-type(2) .in-slide p:hover {
    background-color: #df81158a;
}
.slide .in-slide h1 {
    font: 2vw  "Bungee", "sans-serif";
    color: rgb(245, 167, 10);
    text-shadow: rgb(134, 61, 2) 0.2vw 0.2vw;
}
.slide .in-slide h2 {
    font: 1vw "Quicksand", "sans-serif";
    color: rgb(245, 131, 10);
    line-height: 10px;
}
#computer {
    width: 20%;
}






/*      SECTION 3      */






#sec3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sec3 .center-page {
    width: 100%;
    height: 80%;
}
.top-competences {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#sec3 .slide {
    width: 25%;
    height: 85%;
    display: flex;
    flex-direction: column;
}
#sec3 .in-slide {
    flex-direction: column;
}
.comp-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot-comp {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.prog, .dev, .crea-num {
    width: 100%;
    min-height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slide:nth-of-type(1) .in-slide h1, .slide:nth-of-type(2) .in-slide h1, .slide:nth-of-type(3) .in-slide h1 {
    font: 1.4vw "Bungee";
    color: rgb(250, 152, 24);
    text-shadow: rgb(134, 61, 2) 0.2vw 0.2vw;
}
.slide:nth-of-type(1) .in-slide h2, .slide:nth-of-type(2) .in-slide h2, .slide:nth-of-type(3) .in-slide .savoir-etre-row .savoir-etre-column h3{
    font: 500 1vw "Quicksand";
    color: rgb(122, 56, 2);
}
.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons img {
    width: 10%;
}
#java {
    width: 12%;
}
#html, #github {
    width: 12%;
}
#unity {
    width: 17%;
}
#css {
    width: 9%;
}
#js {
    width: 14%;
}
#eclipse {
    width: 20%;
}
.slide:nth-of-type(3) .in-slide .bot-comp {
    gap: 10%;
}
.savoir-etre-row {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
}
.savoir-etre-column {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.savoir-etre-column img {
    width: 60%;
}
.savoir-etre-column h3 {
    font: 600 1vw "Quicksand";
    color: rgb(255, 132, 0);
}




/* (PART A) WRAPPER */
.hOut { overflow-x: auto; }
.hIn {
  display: flex;
  padding-bottom: 10px; margin-bottom: 20px;
  border-bottom: 3px dotted #f1800f;
  min-width: fit-content; width: 100%;
}
.hOut h1 {
    font: 1.4vw "Bungee";
    color: rgb(250, 152, 24);
    text-shadow: rgb(134, 61, 2) 0.2vw 0.2vw;
}

/* (PART B) EVENTS */
.hIn .event {
  color: #fff; background: #f9a83fe2;
  min-width: 300px; max-width: 400px;
  padding: 10px; margin: 10px; border-radius: 10px;
  position: relative;
}
.hIn .eDate { 
    font: 1.3vw "Fredoka";
}
.hIn .eTxt {
    font: 1vw "Quicksand";
}

/* (PART C) TIMELINE SHARED */
.hIn .event::before, .hIn .event::after {
  position: absolute; content: "";
}

/* (PART D) TIMELINE CIRCLE */
.hIn .event::before {
  bottom: -30px; left: 50%;
  content: ""; width: 16px; height: 16px; border-radius: 50%;
  background: #f37b4f;
}

/* (PART E) TIMELINE "T-CONNECTOR" */
.hIn .event::after {
  bottom: -20px; left: calc(50% + 6px);
  width: 1px; height: 20px;
  border-left: 3px dotted #ffa5a5;
}


.dot-navigation {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .dot {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: orange;
  }

  .dot:hover {
    background-color: rgb(250, 206, 126);
  }




  /* SECTION 4 */




#sec4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sec4 .center-page{
    height: 70%;
}
.cards {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.card-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2  {
    font: 1.4vw "Bungee";
    color: rgb(250, 152, 24);
    text-shadow: rgb(134, 61, 2) 0.2rem 0.2rem;
}
.card-image {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
#sec4 .center-page .cards .card .card-image {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#sec4 .center-page .cards .card:nth-of-type(1) .card-image {
    background-image: url("imgs/tetris.jpg");
}
#sec4 .center-page .cards .card:nth-of-type(2) .card-image {
    background-image: url("imgs/yams.jpeg");
}
#sec4 .center-page .cards .card:nth-of-type(3) .card-image {
    background-image: url("imgs/unesco.png");
}
#sec4 .center-page .cards .card:nth-of-type(4) .card-image {
    background-image: url("imgs/senior-chat.jpeg");
}
#sec4 .center-page .cards .card:nth-of-type(5) .card-image {
    background-image: url("imgs/pizza.png");
}
.card-button {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.card a {
    width: 20%;
    min-width: 100px;
    min-height: 20px;
    border: 5px solid rgb(250, 152, 24);
    background-color: rgba(250, 152, 24, 0.302);
    border-radius: 5px;
    font: 600 0.8vw "Quicksand";
    color:#f1800f;
    cursor: pointer;
    text-decoration: none;
}




/* SECTION 5 */

#sec5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #f0a234;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;

  resize: vertical;
  font-family: "Fredoka";
}
label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    font: 1vw "Fredoka";
}

input[type=submit] {
  background-color: #ffffff;
  color: orange;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e5560f;
}

.container {
  /* Ajouter box-sizing */
  box-sizing : border-box;
  border-radius: 15px;
  background-color:#f9a45a;
  padding: 20px;
  width: 100%;
  /* redéfinition 400 + 2*20 */
  max-width: 440px;
  margin: 0 auto;
}












/* MEDIA QUERIES */


@media screen and (max-width:1150px){
    .name {
        gap: 0;
    }    
    .name h1 {
        font-size: 13vw;
        text-shadow: #985202 0.5vw 0.5vw;
    }
    .name h2 {
        font-size: 3vw;
        text-shadow: #DF8115 0.3vw 0.3vw;
    }
}

@media screen and (max-width: 950px) {
    #sec3 .center-page {
        height: 90%;
    }
    .hOut {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .top-competences {
        flex-direction: column;
        height: 85%;
    }
    .comp-title {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bot-comp {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
    }
    .prog, .dev, .crea-num{
        height: 100%;
        width: 50%;

    }
    #sec3 .slide {
        width: 70%;
        height: 30%;
    }
    #sec3 .titre-comp {
        height: 20%;
    }
    #sec3 .titre-comp .circles .circle {
        width: 0.8rem;
        height: 0.8rem;
    }
    #sec3 .in-slide {
        flex-direction: column;
    }

    .icons img {
        width: 8%;
    }
    #java {
        width: 10%;
    }
    #html, #github {
        width: 12%;
    }
    #unity {
        width: 17%;
    }
    #css {
        width: 9%;
    }
    #js {
        width: 14%;
    }
    #php, #sql {
        width: 13%;
    }
    #eclipse {
        width: 20%;
    }

    .slide:nth-of-type(1) .in-slide h1, .slide:nth-of-type(2) .in-slide h1, .slide:nth-of-type(3) .in-slide h1 {
        font: 2vw "Bungee";
        color: rgb(250, 152, 24);
    }
    .slide:nth-of-type(1) .in-slide h2, .slide:nth-of-type(2) .in-slide h2, .slide:nth-of-type(3) .in-slide .savoir-etre-row .savoir-etre-column h3{
        font: 500 1.6vw "Quicksand";
        color: rgb(122, 56, 2);
    }

    #sec3 .slide:nth-of-type(3) .in-slide .savoir-etre-row {
        width: 100%;
    }
    #sec3 .slide:nth-of-type(3) .in-slide .savoir-etre-row .savoir-etre-column {
        width: 100%;
        height: 100%;
    }
    .savoir-etre-column img {
        width: 40%;
    }

}

