:root {
    --name-font:clamp(5rem, 2vw + 8rem, 15rem);
    --student-font:clamp(3rem, 0.8vw + 1rem, 10rem);
    --sommaire-font:clamp(1.2rem, 1.2vw + 0.8rem, 8rem);
    --section1-pfont: clamp(0.6rem, 0.5vw + 0.5rem, 5rem);
    --section1-little-titlefont: clamp(0.8rem, 0.7vw + 0.5rem, 5rem);
    --url-font: clamp(0.5rem, 0.5vw + 0.3rem, 1rem);
    --smaller-url-font: clamp(0.3rem, 0.3vw + 0.3rem, 1rem);
    --section2-pfont:clamp(1.2rem, 0.7vw + 0.7rem, 6rem);
    --section3-pfont: clamp(1rem, 0.8vw + 0.5rem, 3rem);
    --section3-urlfont: clamp(0.7rem, 0.3vw + 0.2rem, 1rem);
    --section-title-font:clamp(1rem, 2.5vw + 1.5rem, 5rem);
    color-scheme: only light;
}   

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    scroll-snap-align: start;
}
html {
    background-color: rgba(248, 234, 208, 0.614);
    background-image: url("imgs/page_bg.png");
    background-position: 0px 0px;
    background-size: 10vw;
    position: relative;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#sec1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sommaire {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.in-sommaire {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.in-sommaire a {
    font: 900 var(--sommaire-font) "Quicksand", serif;
    color: var(--main-color);
    text-shadow: rgb(134, 61, 2) 1px 1px;
    text-underline-offset: 0.2em;
}
.in-sommaire a:visited {
    color: var(--main-color);
    text-shadow: rgb(134, 61, 2) 1px 1px;
}
.center-page {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.name {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    text-align: center;
}

.name h1 {
    font-size: clamp(80px, 10vw, 180px);
    font-family: "Cherry Bomb One", system-ui;
    color: var(--main-color);
    text-shadow: #985202 0.5vw 0.5vw;
    letter-spacing: 2%;
    line-height: var(--name-font);
}
.name h2 {
    font-size: clamp(25px, 2vw, 100px);
    font-family: "Bungee", 'sans-serif';
    color: #FFC98B;
    text-shadow: #DF8115 0.2vw 0.2vw;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1.5%;
    padding-right: 10%;
    align-items: center;
}
#email  {
    background-image: url("imgs/email.svg");
    background-position: 0 0;
    background-size: cover;
}
#linkedin  {
    background-image: url("imgs/linkedin.svg");
    background-position: 0 0;
    background-size: cover;
}

#email, #linkedin{
    width: 48px;
    height: 48px;
}




/*      SECTION 2      */






#sec2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sec2 .center-page {
    height: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font: 700 clamp(45px, 4vw, 160px) "Cherry Bomb One", system-ui;
    color: var(--main-color);
    text-shadow: rgb(134, 61, 2) 0.2rem 0.2rem;
}

.slide {
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(253, 248, 238, 0.924);
    border-left: 0.15em solid rgb(140, 62, 2);
    border-top: 0.15em solid rgb(129, 56, 0);
    border-right: 0.2em solid rgb(93, 40, 0);
    border-bottom: 0.2em solid rgb(93, 40, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.261);
}
#sec2 .center-page .slide {
    max-height: 600px;
}
.slide:nth-of-type(1) {
    width: 50%;
}
.slide:nth-of-type(2) {
    width: 20%;
}


.titre-comp {
    width: 100%;
    height: 10%;
    min-height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9ae6c;
    border-bottom: 2px solid rgb(129, 56, 0);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.circles {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.circle {
    width: clamp(10px, 1.2vw, 80px);
    height: clamp(10px, 1.2vw, 80px);
    border-radius: 100%;
    border: 2px solid rgb(129, 56, 0);
    background-color: white;
}
.circle:nth-of-type(1) {
    background-color: rgb(252, 97, 97);
}
.circle:nth-of-type(2) {
    background-color: rgb(252, 154, 97);
}
.circle:nth-of-type(3) {
    background-color: rgb(124, 247, 124);
}
.bar {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(129, 56, 0);
    border-radius: 0.3em;
    background-color: white;
    padding-left: 1.5%;
}
.bar h2 {
    font: 600 clamp(10px, 0.7vw, 50px) "Quicksand", serif; 
    color: rgb(129, 56, 0);
}
.refresh {
    width: 10%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(129, 56, 0);
    border-radius: 0.3em;
    background-color: white;
}
.refresh img {
    width: 100%;
    height: 100%;
}


.in-slide {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    align-items: center;
}

.in-slide p {
    font: 500 clamp(5px, 0.9vw, 40px) "Quicksand", serif;
    color: rgb(255, 132, 0);
    line-height: 1.2em;
    width: 80%;
}
.slide:nth-of-type(2) .in-slide p {
    width: 80%;
    border: 2px solid rgb(255, 132, 0);
    padding: 3%;
    border-radius: 10px;
}
.slide:nth-of-type(2) .in-slide p:hover {
    background-color: #df81158a;
}
#sec2 .center-page .slide .in-slide h1 {
    font: clamp(20px, 2.3vw, 100px)  "Bungee", "sans-serif";
    color: var(--main-color);
    text-shadow: rgb(134, 61, 2) 0.1vw 0.1vw;
}
.slide .in-slide h2 {
    font: clamp(15px, 1.2vw, 60px) "Quicksand", "sans-serif";
    color: rgb(245, 131, 10);
    line-height: 10px;
}
#computer {
    width: clamp(100px, 12vw, 200px);
}






/*      SECTION 3      */






#sec3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sec3 header h1{
    font-size: clamp(35px, 4vw, 160px);
}
#sec3 .center-page {
    width: 100%;
    height: 80%;
}
.top-competences {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#sec3 .slide {
    width: 25%;
    height: 85%;
    display: flex;
    flex-direction: column;
}
#sec3 .in-slide {
    flex-direction: column;
}
.comp-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.bot-comp {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.prog, .dev, .crea-num {
    width: 100%;
    min-height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#sec3 .center-page .top-competences .slide:nth-of-type(1) .in-slide h1, #sec3 .center-page .top-competences .slide:nth-of-type(2) .in-slide h1, #sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide h1 {
    font: clamp(20px, 1.4vw, 80px) "Bungee";
    color: rgb(250, 152, 24);
    text-shadow: rgb(134, 61, 2) 0.1vw 0.1vw;
}
#sec3 .center-page .top-competences .slide:nth-of-type(1) .in-slide h2, #sec3 .center-page .top-competences .slide:nth-of-type(2) .in-slide h2{
    font: 500 clamp(10px, 1vw, 70px) "Quicksand";
    color: rgb(122, 56, 2);
}
#sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .savoir-etre-row .savoir-etre-column h3 {
    font: 500 clamp(10px, 1vw, 70px) "Quicksand";
    color: rgb(122, 56, 2);
}
.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons img {
    width: 10%;
}
#java {
    width: 12%;
}
#html, #github {
    width: 12%;
}
#unity {
    width: 17%;
}
#css {
    width: 9%;
}
#js {
    width: 14%;
}
#eclipse {
    width: 20%;
}
#sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .bot-comp {
    gap: 10%;
}
.savoir-etre-row {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
}
.savoir-etre-column {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.savoir-etre-column img {
    width: 60%;
}
#sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .bot-comp .savoir-etre-row .savoir-etre-column h3 {
    font: 600 clamp(10px, 1vw, 70px) "Quicksand";
}




/* (PART A) WRAPPER */
.hOut { 
    width: 80%;
}
.hIn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px; 
  margin-bottom: 20px;
  border-bottom: 0.2vw dashed rgba(224, 56, 37, 0.661);
  width: 100%;
  
}
.hOut h1 {
    font: 1.4vw "Bungee";
    color: rgb(250, 152, 24);
    text-shadow: rgb(134, 61, 2) 0.2vw 0.2vw;
}

/* (PART B) EVENTS */
.hIn .event {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff; 
    background: #f9a83fe4;
    width: clamp(200px, 28vw, 650px);
    height: 8vw;
    max-height: clamp(400px, 10vw, 500px);
    min-height: clamp(100px, 4vw, 400px);
    border-radius: 10px;
    position: relative;
}
.hIn .eDate { 
    font: clamp(15px, 1.4vw, 40px) "Fredoka";
}
.hIn .eTxt {
    font: clamp(10px, 1vw, 40px) "Quicksand";
}

/* (PART C) TIMELINE SHARED */
.hIn .event::before, .hIn .event::after {
  position: absolute; content: "";
}

/* (PART D) TIMELINE CIRCLE */
.hIn .event::before {
  bottom: -1.6vw; 
  left: 50%;
  content: ""; 
  width: clamp(5px, 1vw, 16px); 
  height: clamp(5px, 1vw, 16px); 
  border-radius: 50%;
  background: #f37b4f;
}

/* (PART E) TIMELINE "T-CONNECTOR" */
.hIn .event::after {
  bottom: -20px; left: calc(50% + 6px);
  width: 1px; height: 20px;
}

.dot-navigation {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .dot {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: var(--main-color);
  }

  .dot:hover {
    background-color: rgb(250, 206, 126);
  }




  /* SECTION 4 */




#sec4 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sec4 .center-page{
    height: 80%;
}
.cards {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: clamp(50px, 1vw, 100px);
}
.card {
    width: clamp(250px, 15vw, 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-cards, .bot-cards {
    width: 45%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-cards {
    justify-content: end;
    gap: clamp(40px, 1vw, 100px);
}
.bot-cards {
    justify-content: start;
    gap: clamp(40px, 1vw, 100px);
}
.card h2  {
    font: clamp(20px, 2vw, 30px) "Bungee";
    color: rgb(250, 152, 24);
    text-shadow: rgb(134, 61, 2) 0.1vw 0.1vw;
}
.card-image {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 6px solid var(--main-color);
}



#sec4 .center-page .cards .top-cards .card .card-image, #sec4 .center-page .cards .bot-cards .card .card-image {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#sec4 .center-page .cards .top-cards .card:nth-of-type(1) .card-image {
    background-image: url("imgs/tetris.jpg");
}
#sec4 .center-page .cards .top-cards .card:nth-of-type(2) .card-image {
    background-image: url("imgs/unesco.png");
    
}
#sec4 .center-page .cards .bot-cards .card:nth-of-type(1) .card-image {
    background-image: url("imgs/senior-chat.jpeg");
}
#sec4 .center-page .cards .bot-cards .card:nth-of-type(2) .card-image {
    background-image: url("imgs/pizza.png");
}
.card-button {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.card-button button {
    width: fit-content;
    height: clamp(20px, 2vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 136, 0);
    border-radius: 10px;
    font: 500 clamp(13px, 1vw, 15px) "Fredoka";
    padding: clamp(15px, 1vw, 40px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0.2vw solid rgb(248, 144, 70);
}

.card-button button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 rgba(238, 114, 32, 0.659);
}

.card-button button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 rgba(238, 114, 32, 0.659);
}




/* SECTION 5 */

#sec5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#sec5 .center-page {
    height: 85%;
    flex-direction: row;
    justify-content: center;
    gap: clamp(40px, 6%, 100px);
}
#sec5  .bot-comp  {
    height: 100%;
}
#sec5 .slide:nth-of-type(1) {
    width: 30%;
}
#sec5 .slide:nth-of-type(2) {
    width: 50%;
}
.left-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left-contact h1, .container h1 {
    font: clamp(15px, 1.7vw, 40px) "Bungee";
    text-align: center;
    color: var(--main-color);
}
.bot-left-contact {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding-left: 10%;
}

.contact p, .contact a {
    font: clamp(15px, 1.5vw, 60px) "Fredoka";
    width: 70%;
    color: var(--main-color);
}
.contact a:visited {
    color: var(--main-color);
}
.contact img {
    width: 22%;
    height: auto;
}
.contact:nth-of-type(2) img {
    width: 18%;
    padding-left: 5%;
}


.right-contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #f0a234;
  border-radius: 4px;
  resize: none;
  font-family: "Fredoka";
}
#message {
    height: 60%;
}
label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    font: clamp(15px, 1vw, 35px) "Fredoka";
    color: var(--main-color);
}

input[type=submit] {
  background-color: #ffffff;
  color: var(--main-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid var(--main-color);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#contactForm {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact-button {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-infos {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}
.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.top-infos .info:nth-of-type(1), .top-infos .info:nth-of-type(2) {
    height: 50%;
}
.top-infos .info input {
    height: 40%;
}
#message-info {
    min-height: 30%;
}









/* MEDIA QUERIES */

@media screen and (max-width:1360px) {
    #sec4 .center-page .cards {
        height: 90%;
        flex-direction: column;
        justify-content: center;
    }
    .top-cards, .bot-cards {
        width: 100%;
        height: 45%;
        justify-content: center;
        align-items: center;
    }
    .card {
       width: 35%;
       gap: 5%;
    }
}
@media screen and (max-width:1150px){
    .name {
        gap: 0;
    }   

}

@media screen and (max-width: 950px) {
    #sec3 .center-page {
        height: 90%;
    }
    .hOut {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .top-competences {
        flex-direction: column;
        height: 85%;
    }
    .comp-title {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bot-comp {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
    }
    .prog, .dev, .crea-num{
        height: 100%;
        width: 50%;

    }
    #sec3 .slide {
        width: 70%;
        height: 27%;
    }
    #sec3 .titre-comp {
        height: 20%;
    }
    #sec3 .titre-comp .circles .circle {
        width: 0.8rem;
        height: 0.8rem;
    }
    #sec3 .in-slide {
        flex-direction: column;
    }

    .icons img {
        width: 8%;
    }
    #java {
        width: 10%;
    }
    #html, #github {
        width: 12%;
    }
    #unity {
        width: 17%;
    }
    #css {
        width: 9%;
    }
    #js {
        width: 14%;
    }
    #php, #sql {
        width: 13%;
    }
    #eclipse {
        width: 20%;
    }


    #sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .savoir-etre-row {
        width: 50%;
    }
    #sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .savoir-etre-row .savoir-etre-column {
        width: 100%;
        height: 100%;
    }
    .savoir-etre-column img {
        width: 40%;
    }
    .hOut {
        width: clamp();
    }

}

@media screen and (max-width:750px) {
    #sec2 .center-page {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #sec2 .center-page .slide {
        width: 80%;
        height: 40%;
    }
    .slide:nth-of-type(2) .in-slide{
        text-align: center;
    }
    .slide:nth-of-type(2) .in-slide p {
        padding: clamp(5px, 0.8vw, 15px);
    }
    #sec2 .center-page .in-slide p {
        font-size: clamp(7px, 0.9vw, 40px)
    }
    #sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .bot-comp {
        gap: 0;
    }
    #sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .bot-comp .savoir-etre-row {
        height: 100%;
        padding: 0;
    }

    #sec5 .center-page {
        flex-direction: column;
    }
    #sec5 .slide:nth-of-type(1)  {
        width: 80%;
        height: 30%;
    }
    #sec5 .slide:nth-of-type(2)  {
        width: 80%;
        height: 60%;
    }
    .contact img {
        width: 10%;
        height: auto;
    }
    .contact:nth-of-type(2) img {
        padding-left: 2%;
        width: 8%;
    }
}
@media screen and (max-width:700px){
    #sec2 .center-page .in-slide img  {
        display: none;
    }
}
@media screen and (max-width:600px) {
    .hIn {
        gap: 5%;
    }
    .savoir-etre-column img {
        visibility: hidden;
        display: none;
    }
    #sec3 .center-page .slide:nth-of-type(3) .in-slide .bot-comp {
        flex-direction: column;
    }
    #sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .savoir-etre-row {
        width: 100%;
        min-height: 0;
        height: 50%;
        
    }
    #sec3 .center-page .top-competences .slide:nth-of-type(3) .in-slide .savoir-etre-row .savoir-etre-column {
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:450px) {
    .dot-navigation {
        display: none;
    }
}
@media screen and (max-height:800px) {
    #sec2 .center-page .slide .in-slide img {
        display: none;
    }
    #sec2 .center-page .slide:nth-of-type(2) p {
        border: none;
        border-top: 2px solid var(--main-color);
    } 
    #contactForm {
        width: 100%;
    }
    .top-infos {
        flex-direction: row;
        height: fit-content;
        justify-content: space-between;
        width: 100%;
    }
    .top-infos .info:nth-of-type(1), .top-infos .info:nth-of-type(2) {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .top-infos input {
        width: 90%;
        text-align: center;
    }
    
}
